* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
}

/* root values */
:root {
    --nav-font-weight: 400;
    --nav-bg: #243758;
    --nav-color: #ffffff;
    --button-hover: #1a2e4b;
    --bg-color: #fcf4e9;
    --inside-container-width: 80%;
    --font-color: #243758;
}

/* navbar section */
nav {
    background-color: var(--nav-bg);
    color: var(--nav-color);
    font-weight: var(--nav-font-weight);
    display: flex;
    place-content: center;
    flex-wrap: wrap;

    & .navbar-container {
        width: var(--inside-container-width);
        /* border: 2px solid red; */
        display: flex;
        justify-content: space-between;
        padding: 1.2em 0;


        & .nav-links {
            /* border: 2px solid blueviolet; */
            list-style-type: none;
            display: flex;
            align-items: center;
            gap: 1.4em;
            & a {
                color: var(--nav-color);
                text-decoration: none;
            }
        }
    }
}

/* main section */
.main-section {
    background: var(--bg-color);
    display: flex;
    place-content: center;


    & .main-container {
        /* border: 2px solid red; */
        height: 28em;
        width: var(--inside-container-width);
        display: flex;
        flex-wrap: wrap;

        & .cpt-container {
            /* border: 2px solid black; */
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 2.2%;
            color: var(--font-color);
            padding-left: 1.5%;

            & #main-cpt {
                font-size: 65px;
                font-weight: 600;
                line-height: 1.2;
            }

            & #sub-cpt {
                font-size: 28px;
                font-weight: 400;
            }
            &  #main-cta {
                width: 28%;
                font-weight: 600;
                color: var(--nav-color);
                background: var(--nav-bg);
                padding: 0.8em 0;
                border: none;
                border-radius: 10px;
                font-size: 18px;
                cursor: pointer;
            }
        }

        & .img-container {
            /* border: 2px solid yellow; */
            flex: 1;
            background: url("./House_image.png");
            background-repeat: no-repeat;
            background-position: center left;
            background-size: 123%;
        }
    }
}
/* card section */
.card-section {
    display: flex;
    place-content: center;
    flex-wrap: wrap;

    & .card-container {
        width: var(--inside-container-width);
        /* border: 2px solid red; */
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3em 0;
        gap: 3.5em;

        & h1 {
            font-size: 2.2em;
            color: var(--font-color);
            font-weight: 500;
            
        }

        & .card-holder {
            /* border: 2px solid black; */
            width: auto;
            display: flex;
            justify-content: center;
            width: auto;
            gap: 5%;

            & .card-img-div {
                /* border: 2px solid brown; */
                display: flex;
                flex-direction: column;
                align-items: center;


                & img {
                    display: block;
                    border: 4px solid var(--button-hover);
                    border-radius: 10px;
                    height: 10em;
                    width: 12em;
                }

                & p {
                    text-align: center;
                    color: #444444;
                }
            }
        }
    }
}

/* quote section */
.quote-section {
    display: flex;
    place-content: center;
    padding: 4em 0;
    background: #e5e7eb;

    & .quote-container {
        width: 70%;
        /* padding: 0 2em; */
        /* border: 2px solid blue; */
        color: var(--font-color);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        & #main-quote {
            font-size: 36px;
            font-weight: 300;
            font-style: italic;
        }

        & #quote-author {
            text-align: right;
            font-weight: 700;
        }
    }
}

/* cta section */
.cta-section {
    display: flex;
    place-content: center;
    flex-wrap: wrap;
    padding: 5em 0;

    & .cta-container {
        width: 75%;
        /* border: 2px solid brown; */
        display: flex;
        justify-content: space-around;
        background-color: var(--font-color);
        padding: 2em 0;
        border-radius: 10px;

        & .cta-caption {
            /* border: 2px solid chartreuse; */
            color: var(--bg-color);

            & :nth-child(1) {
                font-weight: 600;
                font-size: 17px;
            }

            & :nth-child(2) {
                font-weight: 400;
            }
        }

        & .cta-btn {
            width: 14%;
            font-weight: 600;
            border: 2px solid var(--bg-color);
            background: var(--font-color);
            color: var(--bg-color);
            border-radius: 10px;
            font-size: 18px;
            cursor: pointer;
        }
    }
}

/* footer section */
footer {
    display: flex;
    place-content: center;
    padding: 1em 0;
    /* background: #e5e7eb; */
}

/* writing media queries */
/* Small Mobile phone break point */
@media (max-width : 320px) {
    nav {
    display: flex;
    place-content: center;
    flex-wrap: wrap;

    & .navbar-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0.8em 0.6em;

        & .nav-header {
            font-size: 1em;
        }

        & .nav-links {
            display: none;
            content: "";
            list-style-type: none;
            /* display: flex;
            align-items: center;
            gap: 1.4em;
            & a {
                color: var(--nav-color);
                text-decoration: none;
            } */
        }
    }
}
    .main-section {

    & .main-container {
        height: auto;
        width: 100%;
        padding: 0.8em 0.2em;
        text-align: center;

        & .cpt-container {
            gap: 1em;
            align-items: center;

            & #main-cpt {
                font-size: 42px;
                font-weight: 600;
                line-height: 1.2;
            }

            & #sub-cpt {
                font-size: 28px;
                font-weight: 300;
            }
            &  #main-cta {
                width: 40%;
                font-weight: 500;
            }
        }

        & .img-container {
            display: none;
            /* border: 2px solid yellow; */
            flex: 1;
            background: url("./House_image.png");
            background-repeat: no-repeat;
            background-position: center left;
            background-size: 123%;
        }
    }
}
    .card-section {
        height: auto;

    & .card-container {
        width: 100%;
        /* border: 2px solid red; */
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        padding: 0.8em 0.2em;
        gap: 2.4em;

        & h1 {
            text-align: center;
            font-size: 1.1em;
        }

        & .card-holder {
            /* border: 2px solid black; */
            width: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-wrap: wrap;
            width: auto;


            & .card-img-div {
                padding-bottom: 15%;
                /* border: 2px solid brown; */
                display: flex;
                flex-direction: column;
                align-items: center;
                /* gap: %; */

                & img {
                    display: block;
                    border: 4px solid var(--button-hover);
                    border-radius: 10px;
                    height: 8em;
                    width: 100%;
                }

                & p {
                    text-align: center;
                    color: #444444;
                }
            }
        }
    }
}
    .quote-section {
        display: flex;
        place-content: center;
        /* padding: 4em 0; */;

        & .quote-container {
            width: 100%;
            padding: 0 1em;
            /* border: 2px solid blue; */

            & #main-quote {
                font-size: 20px;
                padding-bottom: 5%;
            }

        }
    }
    .cta-section {
    display: flex;
    place-content: center;
    flex-wrap: wrap;
    padding: 5em 0;

    & .cta-container {
        width: 100%;
        height: auto;
        /* border: 2px solid brown; */
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--font-color);
        padding: 2em 0.8em;
        border-radius: 10px;
        text-align: center;
        gap: 5%;

        & .cta-caption {
            /* border: 2px solid chartreuse; */
            color: var(--bg-color);
            margin-bottom: 6%;

            & :nth-child(1) {
                font-weight: 500;
                font-size: 16px;
                margin-bottom: 2%;
            }

            & :nth-child(2) {
                font-weight: 300;
            }
        }

        & .cta-btn {
            width: 32%;
            padding: 0.8em 0.3em;
            font-weight: 500;
            font-size: 16px;
            cursor: pointer;
        }
    }
}
}

/* medium sized mobile phone break point */
@media (max-width: 487px) {
        nav {
        display: flex;
        place-content: center;
        flex-wrap: wrap;

    & .navbar-container {
        /* border: 2px solid red; */
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.8em 0.6em;

        & .nav-header {
            font-size: 1em;
        }

        & .nav-links {
            display: none;
            /* border: 2px solid olive; */
            list-style-type: none;
            font-size: 15px;
        }
    }
}
    .main-section {

    & .main-container {
        height: auto;
        width: 100%;
        padding: 1.8em 0;
        text-align: center;

        & .cpt-container {
            gap: 1em;
            align-items: center;

            & #main-cpt {
                font-size: 48px;
                font-weight: 600;
                line-height: 1.2;
            }

            & #sub-cpt {
                font-size: 24px;
                font-weight: 300;
            }
            &  #main-cta {
                width: 40%;
                font-weight: 500;
            }
        }

        & .img-container {
            display: none;
            /* border: 2px solid yellow; */
            flex: 1;
            background: url("./House_image.png");
            background-repeat: no-repeat;
            background-position: center left;
            background-size: 123%;
        }
    }
}
    .card-section {
        height: auto;

    & .card-container {
        width: 100%;
        /* border: 2px solid red; */
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        padding: 1.3em 0.2em;
        gap: 2.2em;

        & h1 {
            text-align: center;
            font-size: 1.8em;
        }

        & .card-holder {
            /* border: 2px solid black; */
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-wrap: wrap;
            width: auto;


            & .card-img-div {
                padding-bottom: 15%;
                /* border: 2px solid brown; */
                display: flex;
                flex-direction: column;
                align-items: center;
                /* gap: %; */

                & img {
                    display: block;
                    border: 4px solid var(--button-hover);
                    border-radius: 10px;
                    height: 8em;
                    width: 120% !important;
                }

                & p {
                    text-align: center;
                    color: #444444;
                }
            }
        }
    }
}
    .quote-section {
        display: flex;
        place-content: center;
        /* padding: 4em 0; */

        & .quote-container {
            width: 100%;
            padding: 0 1em;
            /* border: 2px solid blue; */

            & #main-quote {
                font-size: 20px;
                padding-bottom: 5%;
            }

        }
    }
    .cta-section {
    display: flex;
    place-content: center;
    flex-wrap: wrap;
    padding: 5em 0;

    & .cta-container {
        width: 100%;
        height: auto;
        /* border: 2px solid brown; */
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--font-color);
        padding: 2em 0.8em;
        border-radius: 10px;
        text-align: center;
        gap: 5%;

        & .cta-caption {
            /* border: 2px solid chartreuse; */
            color: var(--bg-color);
            margin-bottom: 6%;

            & :nth-child(1) {
                font-weight: 500;
                font-size: 16px;
                margin-bottom: 2%;
            }

            & :nth-child(2) {
                font-weight: 300;
            }
        }

        & .cta-btn {
            width: 32%;
            padding: 0.8em 0.3em;
            font-weight: 500;
            font-size: 16px;
            cursor: pointer;
        }
    }
}
}
